
[title="header"] {
    font-family: cursive;
    padding-top: 20px;
    padding-left: 100px;
    color: #0061ab;
}

.info-block {
    padding-top: 50px;
}

.info-block::before {
    content: "";
    display: block;
    height: 20px;
    background-color: #f0f6ff;
}

#layout {
    background-color: #f0f6ff;
    margin: 30px;
    padding: 60px;
    border-radius: 80px;
}

.body {
    font-family: sans-serif;
}

header, .info-block, .coord-header, .coord-picker, .input-box, .label {
    font-family: inherit;
}

.canvas {
    position: absolute;
    margin-left: 1000px;
    margin-top: 200px;
}

.canvas img {
    width: 150%;
    border-radius: 30px;
}

table {
    margin: auto;
    background-color: #f0f6ff;
    border: 5px solid #3399ff;
    border-radius: 15px;
}

.message {
    color: red;
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 100px;
}

.coord-header {
    padding-top: 30px;
    font-size: 24px;
    padding-bottom: 70px;
}

.coord-picker {
    font-size: 32px;
    padding: 10px;
}

.input-box {
    padding: 15px;
    font-size: 24px;
    margin: 15px;
    border-radius: 22px;
}

.table-buttons {
    font-size: 28px;
    font-weight: bold;
    color: black;
    flex: auto;
    background-color: #f0f6ff;
    border-color: #0091ff;
    border-radius: 20px;
    margin-left: 50px;
    margin-bottom: 100px;
    padding: 10px;
    transition-duration: 0.3s;
}

.table-buttons:hover {
    color: white;
    background-color: #0091ff;
    border-color: #0091ff;
}

.table-text {
    font-size: 20px;
    font-weight: bold;
    color: black;
    background-color: #f0f6ff;
    border-color: #0091ff;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    transition-duration: 0.4s;
}

.label {
    font-size: 32px;
    font-family: sans-serif;
    text-align: center;
    font-weight: bold;
    padding-bottom: 30px;
}